*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #757373;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
  text-decoration: none;
}

body{
  overflow-y: hidden; 
}

main{
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

main section.firstPart{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section.firstPart aside.logo{
  height: 20%;
  width: 100%;
}

main section.firstPart aside.logo .imgDiv{
  height: 100%;
  width: 50%;
  background-image: url("./images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

main section.firstPart aside.text{
  height: 70%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main section.firstPart aside.text h3{
  color: hsl(182, 25%, 50%);
  font-weight: 600;
}

main section.firstPart footer{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main section.firstPart footer aside.foot{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

main section.firstPart footer aside.foot p{
  font-weight: bolder;
}

main section.firstPart footer aside.foot div.link,
main section.firstPart footer aside.foot div.link a{
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.7s ease;
  cursor: pointer;
}

main section.firstPart footer aside.foot div.link:hover{
  background: hsl(0, 0%, 50%);
}

main section.firstPart footer aside.foot div.link:hover i{
  color: aliceblue;
}

main section.imageSide{
  height: 100%;
  width: 70%;
  background-image: url("./images/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 650px){
  main{
    flex-direction: column;
  }

  main section.imageSide,
  main section.firstPart{
    width: 100%;
  }

  main section.firstPart aside.text{
    height: 100%;
  }

  main section.firstPart aside.logo{
    height: 11%;
    width: 25%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }

  main section.firstPart aside.logo .imgDiv{
    width: 100%;
    background-position: left;
  }

  main section.firstPart footer{
    height: 20%;
  }
}
