:root{
  --color-brown: hsl(0, 59%, 41%);
  --color-primary: hsl(0, 1%, 45%);
  --color-srcondary: hsl(34, 78%, 91%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--color-primary);
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

a{
  text-decoration: none;
}

main{
  height: 90vh;
  width: 100%;
  display: flex;
}

.firstPart{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
}

.imgDiv {
  width: min(200px, 80%);
  height: 120px;
  background: url(./images/logo.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.text{
  height: 70%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text h3{
  color: hsl(182, 25%, 50%);
  font-weight: 600;
}

footer{
  height: 10vh;
  width: 30%;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
}

.foot{
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.foot p{
  font-weight: bolder;
}

.link,
.link a{
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.7s ease;
  cursor: pointer;
}

.link:hover{
  background: hsl(0, 0%, 50%);
}

.link:hover i{
  color: var(--color-srcondary);
}

.link a i{
  color: var(--color-primary);
}

.imageSide{
  height: 100vh;
  width: 70%;
  background-image: url("./images/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 650px){
  body{
    color: var(--color-brown);
  }

  main{
    flex-direction: column;
  }

  .firstPart{
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 100;
  }

  .text{
    height: 100%;
  }

  .link a i,
  .text h3{
    color: var(--color-brown);
  }

  .logo{
    display: none;
  }

  footer{
    color: var(--color-brown);
    width: 100%;
  }

  .imageSide{
    width: 100%;
    position: relative;
  }
}
